@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

html, body {
 	height: 100%;
 	background: no-repeat fixed center;
	background-size:cover;
}

h1{
	font-size: 80px;
}

p{
	padding-top: 30px;
	line-height: 30px;
}

button{
	border: none;
	background-color: transparent;
	font: inherit;
}

script{
	z-index: -1;
	height: 100%;
}

img{
	position: relative;
	width: 500px;
	height: auto;
	padding: 10px;
	padding-bottom: 30px;
	transition: 0.5 ease;
}

img:hover{
	opacity: 0.6;

}

#group:hover{
	color: #2cdaff;
}

#location:hover{
	color: #fc861d;
}

#container{
	font-family: 'IBM Plex Mono', monospace;
	text-align: center;
	margin: 0 auto;
	padding-top: 5%;
	font-weight: lighter;
	width: 700px;
}

#img{
	width: 1050px;
	margin: 0 auto;
	margin-top: 100px;
}

#poster{
	margin: 0 auto;
	width: 500px;
}



