@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

html, body {
 	height: 100%;
 	background: no-repeat fixed center;
	background-size:cover;
	font-family: 'IBM Plex Mono', monospace;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 20px;
}

p{
	padding-top: 30px;
	line-height: 30px;
}

button{
	border: none;
	background-color: transparent;
	font: inherit;
}

script{
	z-index: -1;
	height: 100%;
}

img{
	position: relative;
	width: 300px;
	height: auto;
	padding: 10px;
/*	padding-bottom: 30px;*/
	
}

#img img:hover{
	opacity: 0.6;
	transition: .5s ease;
}

#back{
	text-align: center;
}

#group:hover{
	color: #2cdaff;
	font-weight: bold;
}

#location:hover{
	color: #fc861d;
	font-weight: bold;
}

#container{
	text-align: center;
	margin: 0 auto;
	padding-top: 13%;
	font-weight: lighter;
	width: 700px;
}

#back{
	width: 100px;
	margin: 0 auto;
	text-align: center;
}

#img{
	width: 850px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}

#poster{
	margin: 0 auto;
	width: 500px;
	margin-top: 200px;
}

#top{
	position: 0,0;
}

#description{
	margin: 0 auto;
	width: 500px;
	margin-top: 200px;
}




