@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

html, body {
 	height: 100%;
 	background: no-repeat fixed center;
	background-size:cover;
	font-family: 'IBM Plex Mono', monospace;
	/*overflow: hidden;*/
}

#title h1{
	font-size: 6em;
	margin-bottom: 50px;
}

h2{
	font-size: 1em;
	margin-top: 0px;
}

p{
	padding-top: 30px;
	line-height: 2em;
	font-size: 1.2em;
}

button{
	border: none;
	background-color: transparent;
	font: inherit;
	font-size: 1.2em;
}

img{
	width: 16em;
	height: auto;
	padding: 20px;
}

#img img:hover{
	opacity: 0.6;
	transition: .5s ease;
}

#back{
	text-align: center;
}

#group:hover{
	color: #2cdaff;
	font-weight: bold;
}

#location:hover{
	color: #fc861d;
	font-weight: bold;
}

#back{
	width: 100px;
	margin: 0 auto;
	text-align: center;
}

#title{
	width: 35%;
	display: inline;
	text-align: center;

}

#img{
	width: 45%;
	margin: 0 auto;
	text-align: center;
	/*outline: 2px solid red;*/
	
}

#poster{
	margin: 0 auto;
	width: 500px;
	text-align: center;
	margin-top: 10%;
}

#top{
	position: 0,0;
}

#description{
	margin: 0 auto;
	margin-top: 12%;
	width: 35%;
	
}

#description h1{
	font-size: 2.6vw;
}

#button{
	margin: 0 auto;
}




@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
	
	#img{
		display: block;
		margin-left: 200px;
		margin-right: 20px;
		outline: 2px solid red;
	}

	#title{
		display: block;
		outline: solid 2px blue;
	}

	img{
		display: block;
		width: 500px;
	}

	button{
		margin: 0 auto;
	}

}

@media (min-width: 1025px){ 

	html, body{
		overflow: hidden;
	}

	#img{
		float: right;
		margin-right: 5%;
		margin-top: 10%;
		margin-bottom: 50px;
	}

	#title{
		float: left;
		margin-left: 10%;
		margin-top: 5%;

	}

	img{
		display: inline;
	}

}
